services:
  php:
    build: .docker/php
    ports:
      - 5173:5173
    volumes:
      - .:/var/www:cached

  nginx:
    image: nginx
    ports:
      - 80:80
    volumes:
      - .:/var/www
      - .docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - .docker/nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - php

  db:
    image: postgres:16
    ports:
      - 5432:5432
    volumes:
      - .docker/db/data:/var/lib/postgresql/data
      - .docker/db/sql:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_USER=goboz
      - POSTGRES_PASSWORD=goboz
      - POSTGRES_DB=helpdesk

  redis:
    image: redis:latest
    command: redis-server --appendonly yes
    volumes:
      - .docker/redis/data:/data
    ports:
      - 6379:6379

  worker:
    build: .docker/php
    volumes:
      - .:/var/www:cached
    command: php artisan queue:work --sleep=3 --tries=3 --max-time=3600
    depends_on:
      - db
      - redis
    environment:
      - REDIS_HOST=redis
      - DB_HOST=db
      - DB_PORT=5432
      - DB_DATABASE=helpdesk
      - DB_USERNAME=goboz
      - DB_PASSWORD=goboz
    restart: unless-stopped
